:root {
    --tomato-red: #db2727;
    --juice-red: #F59C9C;
    --white: #EBEBEB;
    --grey: #d1d1d1;
    --dark-grey: #333;
    --sun-yellow: #FFBE0B;
    --orange: #FB5607;
    --shok-pink: #FF006E;
    --shallow-purple: #8338EC;
    --blue-sky: #3A86FF;
    --deep-blue: #081732;
    --dark-blue: #000714;
    --spotify-green:#1db954;
}
*{
    margin:0;
    padding: 0;
}
body {
    background-color: var(--white);

}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: var(--dark-blue);
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: var(--deep-blue);
    font-weight: bold;
}
h3 {
    font-family: 'Roboto', sans-serif;
    color: var(--deep-blue);
    font-weight: bold;
}/*
div,section,h1,h2,h3{
    border: 1px solid black;
}*/

/*==========PAGE============*/
.template-title{
    border: 2px solid var(--deep-blue);
    border-radius: 10px;
    padding:10px 80px;
}
.pageTitle {
    font-size: 3rem;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}
.pt-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.pt-2 {
    display: flex;
    flex: 1 3 3;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pt-3{
    padding: 20px;
}


/*==========================*/
.input-title, .input-description{
    background-color: var(--grey);
    border:none;
    border-radius: 15px;
    font-family: 'Roboto';
    height: 3rem;
    resize: none;
    margin:10px;
    color: var(--dark-grey);
    font-size: 1.3rem;
}
.input-title{
    padding: 5px 20px;
}
.input-description{
    height: 400px;
    padding: 20px;
}

/*=========LIST==========*/


.list {
    display: grid;
    grid-template-columns: 4fr 1fr;
    max-width: 300px;
    max-height: 300px;
    border-radius: 20px;
    min-height: 300px;
}
.color-0{
    background-color: var(--grey);
}
.color-1{
    background-color: var(--shallow-purple);
}
.color-2{
    background-color: var(--sun-yellow);
}
.color-3{
    background-color: var(--blue-sky);
}

.listTitle {
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
    margin-bottom: 20px;
}

.menuList {
    margin: 20px 20px 0 0;
    font-size: 2rem;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.menuList:hover {
    background-color: #00000012;
}

.addList {
    margin: 50px 50px 50px 50px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.addList:hover {
    background-color: #00000012;
}

.botoes{
    display: flex;
    flex-direction: column;
}
.botoes button{
    margin:20px;
}
.button-1{
    width: 10rem;
    height: 3rem;
    font-family: 'Roboto';
    font-weight: bold;
    color: var(--white);
    border:none;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: var(--deep-blue);
}
.button-1:hover{
    cursor: pointer;
    background-color: var(--blue-sky);
    color: var(--deep-blue);
}
.button-2{
    width: 10rem;
    height: 3rem;
    font-family: 'Roboto';
    font-weight: bold;
    color: var(--deep-blue);
    border:none;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: var(--shok-pink);
}
.button-2:hover{
    cursor: pointer;
    background-color: var(--sun-yellow);
    color: var(--deep-blue);
}
.button-3{
    width: 10rem;
    height: 3rem;
    font-family: 'Roboto';
    font-weight: bold;
    color: var(--tomato-red);
    border:none;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: var(--juice-red);
}
.button-3:hover{
    cursor: pointer;
    background-color: var(--tomato-red);
    color: var(--juice-red);
}
/*========================*/

/*========ICONS==========*/
.icons i{
    font-size: 3rem;
    color: var(--dark-blue);
}

.item-da-lista{
    border-radius: 30px;
    background-color: var(--blue-sky);
    padding: 20px;
    font-size: 1rem;
    color: var(--dark-blue);
    max-width: 600px;
}
.item-lista-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.check{
    width: 56px;
    height: 56px;
    border: 2px solid var(--deep-blue);
    border-radius: 8px;
    margin: auto;
}
.logo img{
    width: 100%;
}