:root {
    --tomato-red: #FF4C4C;
    --juice-red: #F59C9C;
    --white: #EBEBEB;
    --sun-yellow: #FFBE0B;
    --orange: #FB5607;
    --shok-pink: #FF006E;
    --shallow-purple: #8338EC;
    --blue-sky: #3A86FF;
    --deep-blue: #081732;
    --dark-blue: #000714;
}

body {
    background-color: var(--white);
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: var(--deep-blue);
    font-weight: bold;
}